/WoldCupApp18/nbproject/private/
/WoldCupApp18/build/
/WoldCupApp18/dist/
/JavaApplication5/nbproject/private/
*.properties
WoldCupApp18/nbproject/project.properties
WoldCupApp18/nbproject/project.properties
/MobileWorldCup/nbproject/private/
/MobileWorldCup/build/
/Demo/build/
/Demo/nbproject/private/
/WorldCup/nbproject/private/